<div class="body">
  <div class="wrapper">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <h2>HealthGuard</h2>
        <div class="input-field">
        <input type="text" name="user" [(ngModel)]="user" required>
        <label>Usuario</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Contraseña</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Recordar</p>
        </label>
        <a href="#">¿Olvidó la contraseña?</a>
      </div>
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>